@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}
.bars {
  width: 85px;
  cursor: pointer;
}
.bars .line {
  fill: none;
 
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}
.bars .line.top {
  stroke-dasharray: 40 172;
}
.bars .line.middle {
  stroke-dasharray: 40 111;
}
.bars .line.bottom {
  stroke-dasharray: 40 172;
}
.bars.active .top {
  stroke-dashoffset: -132px;
}
.bars.active .middle {
  stroke-dashoffset: -71px;
}
.bars.active .bottom {
  stroke-dashoffset: -132px;
}
.stroke-black {
  stroke: black;
}

.stroke-white {
  stroke: white;
}


.clip-trapezoid {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

.clip-trapezoid-border {
  clip-path: polygon(0 0, calc(100% - 10px) 0, calc(75% - 10px) 100%, 0% 100%);
}

.clip-left-trapezoid {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-right-trapezoid {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}




.clip-trapezoid-dummy {
  clip-path: polygon(0 0, 98% 0, 65% 100%, 0% 100%);
}
.clip-trapezoid-border-dummy {
  clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
}